<h2>So you wanna add a task, eh?</h2>


<form action = "" method="post" accept-charset="utf-8">
  <label for="name">Task Name: </label>
  <!-- The required at the end of the input tag makes the name input required to submit the form -->
  <input type="text" name="name" value="" id="name" required>

  <label for="description">Task Description: </label>
  <input type="text" name="description" value="" id="description">

  <label for="completed_date">Completed Date:</label>
  <input type="date" name="completed_date" value="" id="completed_date">

  <input type="submit" value="Add to List!">

</form>
