<h1>Welcome to the tasklist database</h1>

<a href="add_task">Add a new task to the list!</a>
<p>
  <% @new_array = [] %>
  <% @completed_tasks = [] %>
    <% @all_tasks.each do |task| %>
      <% if task[3] == "" %>
        <% @new_array.push(task) %>
        <% else %>
        <% @completed_tasks.push(task) %>
      <% end %>
    <% end %>
    <%= "To do: #{@new_array}" %>
    <p><%= "Completed Tasks: #{@completed_tasks}" %></p>


</p>
